<!-- <app-card-slider></app-card-slider> -->

<div class="home-container">
    <div class="content">
        <div class="header">
            <a [routerLink]="['']"><img src="vector2.png" alt="Arrow" class="arrow" /></a>
            <span class="description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </span>
        </div>
        <img src="demna.png" alt="image" class="poster" />
        <span class="description_mobile">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu.
        </span>
    </div>
</div>