:host {
    display: flex;
    height: 100vh;
    // overflow: hidden;
  }

.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

span {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #242424;
}

.spacer {
    display: flex;
    order: 5;
    margin-bottom: 200px;
}

.header {
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20%;
    // left: 0 !important;
    // z-index: 1 !important;
}
// overflow-y: scroll;

.arrow {
    height: 3vw;
    width: 3vw;
    padding-top: 9vw;
    background-image: url('../../../shared/vector2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    // transition: background-image 0.3s ease;
}

.arrow:hover {
    background-image: url('../../../shared/vector2variant.png');
}

.description {
    display: flex;
    order: 2;
    flex-shrink: 0;
    padding-top: 107px;
}

.description_mobile {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    order: 4;
    display: none;
}

.right-content {
    display: flex;
    order: 3;
    width: calc(80% - 44px);
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 100px;
    gap: 20px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.right-content img {
    width: 100%;
}



.bottom-image {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 200px;
}

.bottom-image img {
    width: 60%;
}

.bottom-image-text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.bottom-image-text img {
    width: 100%;
}

.description_bottom {}

.description_bottom span {}

@media (max-width: 1024px) {
    .content {
        gap: 0;
    }

    .header {
        width: 0;
    }

    .arrow {
        height: 6vw;
        width: 6vw;
        margin-left: -8vw;
        padding-top: 18vw;
    }

    .description {
        display: none;
    }

    .description_mobile {
        padding-top: 14px;
        display: flex;
    }

    .right-content {
        order: 2;
        width: 100%;
    }
}

@media (max-width: 720px) {
    .arrow {
        height: 5vw;
        width: 5vw;
        margin-left: -8vw;
        padding-top: 19vw;
    }
}

@media (max-width: 480px) {
    .arrow {
        margin-left: -7vw;
    }

    .right-content {
        overflow-y: hidden;
    }
}