<!-- <app-card-slider></app-card-slider> -->

<div class="home-container">
    <div class="content">
        <div class="header">
            <a [routerLink]="['']"><div class="arrow"></div></a>
            <span class="description">
                Meine Leidenschaft für Design hat sich über meine Ausbildung hinaus stark entwickelt, was mich dazu
                inspiriert hat, viele eigene Projekte zu realisieren. Diese Plakatserie ist ein Beispiel dafür, wie ich
                meine kreativen Ideen in einem realen Kontext umsetze.
                Diese fiktive Ausstellung beschäftigt sich mit der Funktionalität und Ästhetik von Leitsystemen, die uns im
                Alltag begleiten.
            </span>
        </div>
        <img src="roundabout.png" alt="image" class="poster" />
        <span class="description_mobile">
            Meine Leidenschaft für Design hat sich über meine Ausbildung hinaus stark entwickelt, was mich dazu
            inspiriert hat, viele eigene Projekte zu realisieren. Diese Plakatserie ist ein Beispiel dafür, wie ich
            meine kreativen Ideen in einem realen Kontext umsetze.
            Diese fiktive Ausstellung beschäftigt sich mit der Funktionalität und Ästhetik von Leitsystemen, die uns im
            Alltag begleiten.
        </span>
    </div>
</div>