.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

span {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #242424;
}

.header {
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20%;
}

.arrow {
    height: 3vw;
    width: 3vw;
    vertical-align: baseline;
    padding-top: 9vw;
}

.description {
    display: flex;
    order: 2;
    flex-shrink: 0;
    padding-top: 107px;
}

.description_mobile {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    order: 4;
    display: none;
}

.poster {
    display: flex;
    // justify-content: center;
    // flex-grow: 1;
    // flex-shrink: 1;
    // align-items: center;
    order: 3;
    width: calc(80% - 44px);
}

@media (max-width: 1024px) {
    .content {
        gap: 0;
    }

    .header {
        width: 0;
    }

    .arrow {
        height: 6vw;
        width: 6vw;
        margin-left: -8vw;
        padding-top: 18vw;
    }

    .description {
        display: none;
    }

    .description_mobile {
        padding-top: 14px;
        display: flex;
    }

    .poster {
        order: 2;
        width: 100%;
    }
}

@media (max-width: 720px) {
    .arrow {
        height: 5vw;
        width: 5vw;
        margin-left: -8vw;
        padding-top: 19vw;
    }
}

@media (max-width: 480px) {
    .arrow {
        margin-left: -7vw;
    }
}