<div class="home-container">
    <div class="content">
        <div class="header">
            <img src="vector1.png" alt="Arrow" class="arrow" />
            <div class="left-content">
                <h1 class="title">
                    AB
                    <br>
                    OUT
                    <br>
                    ME
                </h1>
                <span class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                    feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.<br>
                    <a [routerLink]="['/contact']" class><button class="square-button">CONTACT ME</button></a>
                </span>
            </div>
        </div>
        <div class="right-content">
            <div class="ivancat"></div>
        </div>
    </div>
</div>