/* Contenitore per immagine, titolo e componente */
.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: flex-start;
    gap: 15px;
}

/* Header contenente immagine e titolo */
.header {
    display: flex;
    // gap: 110px;
    justify-content: space-between;
    width: 40%;
    padding-right: 20px;
}

.right-content {
    display: flex;
    width: 60%;
}

.ivancat {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/ivancat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.ivancat:hover {
    background-image: url('../../assets/ivancatvariant.png');
}

/* Stile per l'immagine */
.arrow {
    height: 3vw;
    vertical-align: baseline;
    padding-top: 9vw;
}

/* Stile per il titolo */
.title {
    font-size: 8vw;
    font-weight: bold;
    margin: 0;
    line-height: 0.8;
    flex-shrink: 1;
    text-align: right;
    padding-right: 15px;
}

.title:hover {
    color: #0000FF;
    font-weight: normal;
    font-style: italic;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.description {
    margin-left: 10vw;
}

.square-button {
    width: 100%;
    height: 55px;
    background-color: #0000FF;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0000FF;
    border-radius: 0;
    cursor: pointer;
    margin-top: 40px;
}

/* Hover effect */
.square-button:hover {
    background-color: white;
    color: #0000FF;
    font-style: italic;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .header {
        justify-content: start;
        width: 100%;
        gap: 11px;
    }

    .left-content {
        gap: 11px;
    }

    .description {
        margin-left: 0;
    }

    .title {
        font-size: 16vw;
        /* Adjust the range to fit your requirements */
        text-align: left;
    }

    .arrow {
        height: 6vw;
        margin-left: -8vw;
        padding-top: 18vw;
    }
}

@media (max-width: 720px) {
    .header {
        width: 100%;
    }

    .arrow {
        height: 5vw;
        margin-left: -8vw;
        padding-top: 19vw;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        gap: 5px;
    }

    .arrow {
        height: 5vw;
        margin-left: -7vw;
    }
}

/* Stile per il componente */
.right-content {
    flex: 1;
    /* Si espande per riempire lo spazio rimanente */
}